@media (max-width: 992px) {
    // .main {
    //     display: flex;
    //     justify-content: center;
    // }
    .sub_container {
        display: flex;
        justify-content: center;
    }
    .right {
        width: 100% !important;
    }
    .header .login_content,
    .bg_infinite,
    .group {
        display: none !important;
        // opacity: 0;
    }
    .sm_infinite {
        position: absolute;
        top: 50px;
        left: 50px !important;
    }
    .sub_container {
        margin-top: 0;
        display: flex;
        justify-content: center;
    }

    // .subhead {
    //     min-width: 315px;
    //     font-family: Cairo;
    // }
    .icons {
        background: linear-gradient(181.71deg, #F6E8EA -5%, #F9F0E6 37.12%, #F49E6D 143.7%);
        top: 843px;
    }
    .icon_group {
        min-width: 240px;
        // top: 843px;
    }
    .Typeforms_CAT {
        min-width: 315px;
    }
    // .group {
    //     left: unset !important;
    // }
    .icon_group,
    .Typeforms_CTA,
    .subhead,
    .create_account {
        right: unset !important;
    }
    .left {
        display: none !important;
    }
    .Signuptext {
        display: block !important;
    }
    
    // .left {
    //     display: none;
    // }
    // .right {
    //     display: flex;
    //     justify-content: center;
    // }
}